:root {
    --primary-bg: #228dff;
    --secondary-bg: #e4f6ff;
    --dark-text: #000;
    --light-text: #FFF;
    --header-height: 3rem;
    --footer-height: 4rem;
    --header-text-size: 1rem;
    --title-size: 2rem;
    --sub-title-size: 1.5rem;
    --text-size: 1rem;
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
}

p {
    font-size: var(--text-size);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    z-index: 10;
    position: sticky;
    top: 0;
    height: var(--header-height);
    background-color: var(--primary-bg);

    > nav {
        height: 100%;
    }

        > nav > ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            > li {
                margin: 0 1rem;
                height: 80%;
                align-items: center;
                width: 100%;
                display: flex;
                justify-content: center;
                transition: ease-out 1s;


                .header-icon {
                    display: none;
                }

                a {
                    height: 80%;
                    align-items: center;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: var(--dark-text);
                    text-decoration: none;
                    font-size: var(--header-text-size);
                    font-weight: bold;
                }
            }
        }
}

footer {
    height: var(--footer-height);
    background-color: var(--secondary-bg);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
    }

    > div {
        > h2 {
            font-size: var(--sub-title-size);
            font-weight: normal;
        }

        > a {
            font-size: .8rem;
            text-decoration: none;
            list-style: disc;
        }

        > a::before {
            content: "\25cf";
            font-size: .7rem;
            margin-right: 0.3rem;
        }
    }
}

section {
    scroll-margin-top: 5rem;
    margin: 1rem;
}

summary {
    cursor: pointer;

    > div {
        margin-left: 1rem;

        > h2:last-child {
            min-width: fit-content;
        }
    }

    > div::before {
        content: '▶';
        position: absolute;
        transform: translateX(-1rem);
        transition: ease-in-out 1s;
    }
}

details[open] {

    summary > div::before {
        transform:rotate(90deg) translatey(1rem);
    }
}

details::details-content {
    height: 0;
    overflow: hidden;
    transition: ease-in-out 1s, content-visibility 1s allow-discrete;
}

details[open]::details-content {
    height: auto;
}

#portrait {
    height: 10rem;
    width: auto;
}

.h-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.no-mobile {
    display: none;
}

.divider {
    width: .5rem;
    background-color: white;
    height: 80%;
}

#about {
    padding-top: 2rem;
    padding-bottom: 2rem;

    img {
        border-radius: 50%;
    }

    > div {
        padding: 2rem 0 3.5rem 0;
        font-size: var(--title-size);
    }
}

#education {
    background-color: var(--secondary-bg);
    border-radius: 1rem;
    border: 1px solid black;

    h1 {
        font-size: var(--title-size);
        font-weight: normal;
    }

    .education {
        margin: 1rem;

        .h-container {
            justify-content: space-between;

            h2 {
                font-size: var(--sub-title-size);
                font-weight: normal;
            }
        }

        .skillgrid {
            padding-block: 1rem;

            > ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    list-style: disc;
                    margin: 0.5rem 1.5rem;
                }
            }
        }
    }
}

#work-experience {
    background-color: var(--secondary-bg);
    border-radius: 1rem;
    border: 1px solid black;

    h1 {
        font-size: var(--title-size);
        font-weight: normal;
    }

    .h-container {
        justify-content: space-between;
        margin: 1.5rem 0;
        padding: .2rem 1rem;
        font-size: 1.2rem;

        > p {
            min-width: 33%;
        }

        > p:last-child {
            text-align: right;
        }
    }
}

#projects {
    background-color: var(--secondary-bg);
    border-radius: 1rem;
    border: 1px solid black;

    h1 {
        font-size: var(--title-size);
        font-weight: normal;
    }

    .projectgrid {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;

        .project {
            width: 39%;
            height: 8rem;
            margin: 2%;
            padding: .5rem;
            background-color: white;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (min-width: 600px) {
    :root {
        --header-height: 4rem;
        --header-text-size: 2rem;
        --title-size: 3.5rem;
        --sub-title-size: 2rem;
        --text-size: 1.5rem;
    }

    section {
        padding: 1rem;
    }

    header {
        padding: 1.5rem 0;


        > nav > ul > li:hover {
            border-radius: 1rem;
            padding: 1rem;
            background-color: var(--secondary-bg);
            border: 2px solid black;
            transition: ease-in .2s;
        }

        > nav > ul > li {
            .header-icon {
                display: block;
                height: calc((var(--header-height)) * 0.6);
                margin-right: .2rem;
            }
        }
    }

    footer {
        padding: 1.5rem 0;

        > div {
            > h1 {
                font-size: 3rem;
            }

            > a {
                font-size: 1.2rem;
            }

            > a:hover {
                color: var(--primary-bg);
            }
        }
    }

    section {
        margin: 2rem;
    }

    #portrait {
        height: 20rem;
    }

    .name-img {
        flex-direction: column-reverse;
    }


    #projects {

        .projectgrid {

            .project {
                width: 25%;
                margin: 2%;
            }
        }
    }
}

@media (min-width: 1024px) {
    :root {
        --text-size: 2rem;
    }

    footer {
        margin-top: 3rem;

        a {
            position: absolute;
            border-radius: .5rem;
        }
    }

    section {
        padding: 0 3rem;
        margin: 1rem 5rem;
    }

    .no-mobile {
        display: block;
    }

    #education {
        h1 {
            font-weight: bold;
        }

        > .education {
            border:solid black;
            border-width: 3px 0;
            padding: 1rem;
            border-radius: 1.5rem;

            > .h-container > h2 {
                font-weight: bold;
            }
        }
    }

    #work-experience {
        h1 {
            font-weight: bold;
        }

        li {
            margin: 1.5rem 0;
        }
    }

    #projects {
        h1 {
            font-weight: bold;
        }

        .projectgrid {

            .project {
                width: 20%;
                margin: 2%;

                p {
                    font-size: calc((var(--text-size)) * 0.7);
                }
            }
        }
    }

}