:root {
    --primary-bg: #228dff;
    --secondary-bg: #e4f6ff;
    --dark-text: #000;
    --light-text: #FFF;
    --header-height: 3rem;
    --footer-height: 4rem;
    --header-text-size: 1rem;
    --title-size: 2rem;
    --sub-title-size: 1.5rem;
    --text-size: 1rem;
    scroll-behavior: smooth;
    transition: ease-in-out 0.5s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

p {
    font-size: var(--text-size);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    z-index: 10;
    position: sticky;
    top: 0;
    height: var(--header-height);
    background-color: var(--primary-bg);

    > nav {
        height: 100%;
    }

        > nav > ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            > li {
                margin: 0 1rem;
                height: 80%;
                align-items: center;
                width: 100%;
                display: flex;
                justify-content: center;

                p {
                    transition: ease-in-out .5s;
                }

                .header-icon {
                    display: none;
                }

                a {
                    height: 80%;
                    align-items: center;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: var(--dark-text);
                    text-decoration: none;
                    font-size: var(--header-text-size);
                    font-weight: bold;
                }
            }

                > li:not(:last-child) {
                    border-right: 2px solid #FFF;
                }
        }
}

footer {
    height: var(--footer-height);
    background-color: var(--secondary-bg);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
    }

    > div {
        > h2 {
            font-size: var(--sub-title-size);
            font-weight: normal;
        }

        > a {
            font-size: .8rem;
            text-decoration: none;
            list-style: disc;
        }

        > a::before {
            content: "\25cf";
            font-size: .7rem;
            margin-right: 0.3rem;
        }
    }
}

section {
    margin: 1rem;
}

#portrait {
    height: 10rem;
    width: auto;
}

.h-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#about {
    padding-top: 2rem;
    padding-bottom: 2rem;

    img {
        border-radius: 50%;
    }

    > div {
        padding: 2rem 0 3.5rem 0;
        font-size: var(--title-size);
    }
}

#education {
    background-color: var(--secondary-bg);
    border-radius: 1rem;
    border: 1px solid black;

    h1 {
        font-size: var(--title-size);
        font-weight: normal;
    }

    .education {
        margin: 1rem;

        .h-container {
            justify-content: space-between;

            h2 {
                font-size: var(--sub-title-size);
                font-weight: normal;
            }
        }

        .skillgrid > ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                list-style: disc;
                margin: 0.5rem 1.5rem;
            }
        }
    }
}

#work-experience {
    background-color: var(--secondary-bg);
    border-radius: 1rem;
    border: 1px solid black;

    h1 {
        font-size: var(--title-size);
        font-weight: normal;
    }

    .h-container {
        justify-content: space-between;
        padding: .2rem 1rem;
        font-size: 1.2rem;
    }
}

#projects {
    background-color: var(--secondary-bg);
    border-radius: 1rem;
    border: 1px solid black;

    h1 {
        font-size: var(--title-size);
        font-weight: normal;
    }

    .projectgrid {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;

        .project {
            width: 25%;
            height: 8rem;
            margin: 3.9%;
            background-color: white;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (min-width: 600px) {
    :root {
        --header-height: 4rem;
        --header-text-size: 2rem;
        --title-size: 3.5rem;
        --sub-title-size: 2rem;
        --text-size: 1.5rem;
    }

    section {
        padding: 1rem;
    }

    header {
        padding: 1.5rem 0;


        > nav > ul > li:hover {
            p {
                border-radius: 1rem;
                padding: 1rem;
                background-color: var(--secondary-bg);
                border: 2px solid black;
            }
        }

        > nav > ul > li {
            .header-icon {
                display: block;
                height: calc((var(--header-height)) * 0.6);
                margin-right: .2rem;
            }
        }
    }

    footer {
        padding: 1.5rem 0;

        > div {
            > h1 {
                font-size: 3rem;
            }

            > a {
                font-size: 1.5rem;
            }
        }
    }

    section {
        margin: 2rem;
    }

    #portrait {
        height: 20rem;
    }

    .name-img {
        flex-direction: column-reverse;
    }


    #projects {

        .projectgrid {

            .project {
                margin: 4%;
            }
        }
    }
}

@media (min-width: 800px) {
    :root {
        --text-size: 2rem;
    }

    footer {
        margin-top: 3rem;

        a {
            transition: ease-in-out 1s;
            position: absolute;
            border-radius: .5rem;
        }

            a:hover {
                font-size: 5rem;
                transform: translate(-15rem, -7rem);
                background-color: white;
                border: 2px solid black;
                padding: 1rem;
            }
    }

    section {
        padding: 0 3rem;
        margin: 1rem 5rem;
    }

    #portrait {
        animation: spin 15s linear infinite;
        animation-play-state: paused;
    }

    #portrait:hover {
        animation-play-state: running;
    }

    #education {
        h1 {
            font-weight: bold;
        }

        > .education {
            border:solid black;
            border-width: 3px 0;
            padding: 1rem;
            border-radius: 1.5rem;

            > .h-container > h2 {
                font-weight: bold;
            }
        }
    }

    #work-experience {
        h1 {
            font-weight: bold;
        }

        li {
            margin: 1.5rem 0;
        }
    }

    #projects {
        h1 {
            font-weight: bold;
        }

        .projectgrid {

            .project {
                width: 20%;
                margin: 2%;
            }
        }
    }

}